<div class="container">
  <div class="row">
    <!--ここからテンプレ化-->
    <!--左側ページ-->
    <div class="col-md-3">
      <!--User info-->
      <h2>User info</h2>

      <!--投稿フォーム-->
      <h2>New book</h2>
      <%= form_with model: @book do |f| %>
        <div class="form-group">
          <%= f.label :title %>
          <%= f.text_field :title, class: "book_title form_control" %>
        </div>
        <div class="form-group">
          <%= f.label :body %>
          <%= f.text_area :body, class: "book_body form-control" %>
        </div>
        <div class="form-group">
          <%= f.submit 'Create Book', class:"btn btn-success" %>
        </div>
      <% end %>
    </div>
    <!--ここまでテンプレ化-->

    <!--右側ページ-->
    <div class="col-md-8 offset-md-1">
      <!--一覧-->
      <h2>Book detail</h2>
      <table class="table">
        <tbody>
          <tr>
            <td><%= image_tag "no_image.jpg" %></td>
            <td>
              <%= link_to book_path(@book.id) do %>
                <%= @book.title %>
              <% end %>
            </td>
            <td><%= @book.body %></td>
            <% if @book.user == current_user %>

              <td>
                <%= link_to "Destroy", book_path(@book.id), method: :delete,"data-confirm" => "本当に消しますか？", class: "btn btn-sm btn-danger destroy_book_#{@book.id}" %>
              </td>
            <% end %>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>